In [1]:
#Import your dependences 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
#Select data from CSV file and convert them into Panda DataFrames
july_2016 = "Resources/July2016_citibike_JC.csv"
july_2016_df = pd.read_csv(july_2016)

july_2019 = "Resources/July2019_citibike_JC.csv"
july_2019_df = pd.read_csv(july_2019)

#Convert all column names to lower case to match 2019 columns
july_2016_df.columns= july_2016_df.columns.str.lower()

#Show the data frame, using the head function to limit the row to 10. 
july_2016_df.head(10)

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,964,2016-07-01 00:06:09,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,1
1,472,2016-07-01 00:06:44,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,2
2,565,2016-07-01 00:10:39,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,1
3,413,2016-07-01 00:17:22,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,1
4,436,2016-07-01 00:37:31,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,2
5,344,2016-07-01 00:37:41,2016-07-01 00:43:26,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,24517,Subscriber,1984.0,1
6,563,2016-07-01 00:42:51,2016-07-01 00:52:14,3199,Newport Pkwy,40.728745,-74.032108,3186,Grove St PATH,40.719586,-74.043117,24421,Subscriber,1991.0,1
7,149,2016-07-01 00:47:16,2016-07-01 00:49:45,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24631,Customer,NaN,0
8,2693,2016-07-01 00:57:05,2016-07-01 01:41:59,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24443,Customer,NaN,0
9,2688,2016-07-01 00:57:07,2016-07-01 01:41:55,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24512,Customer,NaN,0

In [3]:
#Changing gender column to male, female, or unknown due to the records having it as a numerical categories of 0, 1, 2 
#First use the map function to convert the numerical column into a string
july_2016_df["gender"] = july_2016_df["gender"].map(str)

#Now convert the values of 0, 1, 2 into their gender values 
july_2016_df["gender"] = july_2016_df["gender"].replace(['0','1','2'],['Unknown','Male','Female'])

#Show the DF to make sure the changes took place
july_2016_df.head(10)

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,964,2016-07-01 00:06:09,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,Male
1,472,2016-07-01 00:06:44,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,Female
2,565,2016-07-01 00:10:39,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,Male
3,413,2016-07-01 00:17:22,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,Male
4,436,2016-07-01 00:37:31,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,Female
5,344,2016-07-01 00:37:41,2016-07-01 00:43:26,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,24517,Subscriber,1984.0,Male
6,563,2016-07-01 00:42:51,2016-07-01 00:52:14,3199,Newport Pkwy,40.728745,-74.032108,3186,Grove St PATH,40.719586,-74.043117,24421,Subscriber,1991.0,Male
7,149,2016-07-01 00:47:16,2016-07-01 00:49:45,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24631,Customer,NaN,Unknown
8,2693,2016-07-01 00:57:05,2016-07-01 01:41:59,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24443,Customer,NaN,Unknown
9,2688,2016-07-01 00:57:07,2016-07-01 01:41:55,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24512,Customer,NaN,Unknown

In [4]:
#Make the following changes above to the 2019 DF 
july_2019_df["gender"] = july_2019_df["gender"].map(str)
july_2019_df["gender"] = july_2019_df["gender"].replace(['0','1','2'],['Unknown','Male','Female'])
july_2019_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,Male
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,Male
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,Male
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,Female
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,Male
5,779,2019-07-01 00:04:34.1330,2019-07-01 00:17:34.0800,3186,Grove St PATH,40.719586,-74.043117,3277,Communipaw & Berry Lane,40.714358,-74.066611,29551,Subscriber,1988,Male
6,123,2019-07-01 00:05:23.5820,2019-07-01 00:07:27.5070,3270,Jersey & 6th St,40.725289,-74.045572,3203,Hamilton Park,40.727596,-74.044247,29552,Subscriber,1988,Male
7,381,2019-07-01 00:17:31.7600,2019-07-01 00:23:53.0680,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717733,-74.043845,29523,Subscriber,1994,Male
8,665,2019-07-01 00:31:08.6430,2019-07-01 00:42:14.2910,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,35124,Customer,1997,Male
9,509,2019-07-01 01:40:25.3990,2019-07-01 01:48:54.8780,3201,Dey St,40.737711,-74.066921,3281,Leonard Gordon Park,40.745910,-74.057271,29518,Subscriber,1969,Male

In [5]:
#Next we need to split starttime/end time columns to make them their own columns 
#This first step will make sure all the values in the Start Time column are in the correct format 
july_2016_df['start time'] = pd.to_datetime(july_2016_df['start time'])

#Next we will take the date portion of start time and create a new column with just the date 
july_2016_df['start_date'] = july_2016_df['start time'].dt.date

#Now take the time of create its own column 
july_2016_df['start_time'] = july_2016_df['start time'].dt.time

#Finally remove the old column since it is no longer needed
del july_2016_df['start time']

july_2016_df.head(10)

,trip duration,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender,start_date,start_time
0,964,2016-07-01 00:22:14,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,24706,Subscriber,1987.0,Male,2016-07-01,00:06:09
1,472,2016-07-01 00:14:37,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24504,Subscriber,1981.0,Female,2016-07-01,00:06:44
2,565,2016-07-01 00:20:05,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24655,Subscriber,1990.0,Male,2016-07-01,00:10:39
3,413,2016-07-01 00:24:15,3195,Sip Ave,40.730743,-74.063784,3209,Brunswick St,40.724176,-74.050656,24446,Subscriber,1983.0,Male,2016-07-01,00:17:22
4,436,2016-07-01 00:44:48,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24408,Subscriber,1988.0,Female,2016-07-01,00:37:31
5,344,2016-07-01 00:43:26,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,24517,Subscriber,1984.0,Male,2016-07-01,00:37:41
6,563,2016-07-01 00:52:14,3199,Newport Pkwy,40.728745,-74.032108,3186,Grove St PATH,40.719586,-74.043117,24421,Subscriber,1991.0,Male,2016-07-01,00:42:51
7,149,2016-07-01 00:49:45,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24631,Customer,NaN,Unknown,2016-07-01,00:47:16
8,2693,2016-07-01 01:41:59,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24443,Customer,NaN,Unknown,2016-07-01,00:57:05
9,2688,2016-07-01 01:41:55,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,24512,Customer,NaN,Unknown,2016-07-01,00:57:07

In [6]:
#We will do the do the same steps as before to the Endtime column in 2016 and the start and stop times of the 2019 DF
#2016 Stoptimes
july_2016_df['stop time'] = pd.to_datetime(july_2016_df['stop time'])
july_2016_df['end_date'] = july_2016_df['stop time'].dt.date
july_2016_df['end_time'] = july_2016_df['stop time'].dt.time
del july_2016_df['stop time']

#2019 Starttimes
july_2019_df['starttime'] = pd.to_datetime(july_2019_df['starttime'])
july_2019_df['start date'] = july_2019_df['starttime'].dt.date
july_2019_df['start time'] = july_2019_df['starttime'].dt.time
del july_2019_df['starttime']

#2019 Endtimes
july_2019_df['stoptime'] = pd.to_datetime(july_2019_df['stoptime'])
july_2019_df['end_date'] = july_2019_df['stoptime'].dt.date
july_2019_df['end_time'] = july_2019_df['stoptime'].dt.time
del july_2019_df['stoptime']

july_2019_df.head(10)

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end_date,end_time
0,1793,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,Male,2019-07-01,00:00:36.615000,2019-07-01,00:30:30.594000
1,434,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,Male,2019-07-01,00:02:54.615000,2019-07-01,00:10:09.037000
2,251,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,Male,2019-07-01,00:03:27.567000,2019-07-01,00:07:38.608000
3,636,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,Female,2019-07-01,00:03:56.169000,2019-07-01,00:14:32.418000
4,623,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,Male,2019-07-01,00:04:16.206000,2019-07-01,00:14:40.050000
5,779,3186,Grove St PATH,40.719586,-74.043117,3277,Communipaw & Berry Lane,40.714358,-74.066611,29551,Subscriber,1988,Male,2019-07-01,00:04:34.133000,2019-07-01,00:17:34.080000
6,123,3270,Jersey & 6th St,40.725289,-74.045572,3203,Hamilton Park,40.727596,-74.044247,29552,Subscriber,1988,Male,2019-07-01,00:05:23.582000,2019-07-01,00:07:27.507000
7,381,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717733,-74.043845,29523,Subscriber,1994,Male,2019-07-01,00:17:31.760000,2019-07-01,00:23:53.068000
8,665,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,35124,Customer,1997,Male,2019-07-01,00:31:08.643000,2019-07-01,00:42:14.291000
9,509,3201,Dey St,40.737711,-74.066921,3281,Leonard Gordon Park,40.745910,-74.057271,29518,Subscriber,1969,Male,2019-07-01,01:40:25.399000,2019-07-01,01:48:54.878000

In [7]:
#Change all spaces to underscores in the column namesto allow easy read to SQL
july_2016_df.columns = july_2016_df.columns.str.replace(' ','_')
july_2019_df.columns = july_2019_df.columns.str.replace(' ','_')

#Add an underscore to the tripduration, bikeid, and usertype
july_2019_df.rename(columns={'tripduration': 'trip_duration', 'bikeid': 'bike_id', 'usertype': 'user_type'}, inplace=True)

In [8]:
#Create new files in the Resources folder for the cleaned data
july_2016_df.to_csv('Resources/Cleaned_july_2016_data.csv')
july_2019_df.to_csv('Resources/Cleaned_july_2019_data.csv')