In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Pull the cleaned data in
clean_2016 = pd.read_csv('Resources/Cleaned_july_2016_data.csv')
clean_2019 = pd.read_csv('Resources/Cleaned_july_2019_data.csv')

clean_2019.head()

,Unnamed: 0,trip_duration,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,start_date,start_time,end_date,end_time
0,0,1793,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,Male,2019-07-01,00:00:36.615000,2019-07-01,00:30:30.594000
1,1,434,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,Male,2019-07-01,00:02:54.615000,2019-07-01,00:10:09.037000
2,2,251,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,Male,2019-07-01,00:03:27.567000,2019-07-01,00:07:38.608000
3,3,636,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,Female,2019-07-01,00:03:56.169000,2019-07-01,00:14:32.418000
4,4,623,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,Male,2019-07-01,00:04:16.206000,2019-07-01,00:14:40.050000

In [3]:
#Change the unnamed index column to index 
clean_2016.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
clean_2019.rename(columns = {'Unnamed: 0':'index'}, inplace = True)

In [4]:
#Create the connect between this page and Postgres
engine = create_engine(f'postgresql+psycopg2://tnatoli:postgres@localhost:5432/SHI_presentation')
conn = engine.connect()

In [5]:
#Load the clean 2016 data onto postres
clean_2016.to_sql(name='citi_bike_2016', con=engine, if_exists='append', index=False)

In [6]:
#Load the clean 2019 data onto postres
clean_2019.to_sql(name='citi_bike_2019', con=engine, if_exists='append', index=False)